body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.card-metric {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.card-metric:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#wrapper {
  height: 100%;
}
